<div id="footer"><small> © Copyright 2015-2020 <a href="http://www.beautyfamily.com" target="_blank">www.beautyfamily.com</a></a> | Powered by <a href="http://www.beautyfamily.com" target="_blank">beautyfamily</a> | <a href="#">Top</a> </small></div>
