<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="styles/global-reset.css" rel="stylesheet" type="text/css" />
<link type="text/css" href="styles/style.css" rel="stylesheet" />
<script type="text/javascript" src="scripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="scripts/simpla.jquery.configuration.js"></script>
<title>管理员组</title>
</head>
<body>
<div id="body-wrapper">
  #parse("/WEB-INF/manager/menu.vm")
  <div id="main-content">
    <p>后台管理 - 用户和组 - 管理员组</p>
    <ul class="shortcut-buttons-set">
      <li><a class="shortcut-button" href="manager_group_input.htm"><span><img alt="icon" src="images/pencil_48.png" /><br />
      新建管理员组 </span></a></li>
    </ul>
    <div class="clear"></div>
    <div class="content-box">
      <div class="content-box-header">
        <h3>管理员组列表</h3>
        <div class="clear"></div>
      </div>
      <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">
          <table width="100%" border="0" cellspacing="0" cellpadding="5">
            <tr>
              <td>组名</td>
              <td>组编码</td>
              <td>备注</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            #foreach($item in $list)
              <tr>
                <td><a href="mgroup_edit.htm?mgid=$!{item.id}">$!{item.name}</a></td>
                <td>$!{item.code}</td>
                <td>$!{item.remarks}</td>
                <td><a href="manager_group_del.htm?mgid=$!{item.id}">删除</a></td>
                <td><a href="pms_mgroup.htm?mgpid=$!{item.id}">权限</a></td>
              </tr>
              #end
          </table>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    #include("/WEB-INF/manager/footer.vm")
  </div>
</div>
</body>
</html>
