<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="styles/global-reset.css" rel="stylesheet" type="text/css" />
<link type="text/css" href="styles/style.css" rel="stylesheet" />
<link href="styles/validate.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="scripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="scripts/simpla.jquery.configuration.js"></script>
<script type="text/javascript" src="scripts/easy_validator.pack.js"></script>
<script type="text/javascript" src="scripts/jquery.bgiframe.min.js"></script>

<script type="text/javascript"> 
<!-- 
jQuery(document).ready(function() {
jQuery("#checkall").click(
    function(){
		if(this.checked){
            jQuery("input[name='checkbox']").each(function(){this.checked=true;});
        }else{
            jQuery("input[name='checkbox']").each(function(){this.checked=false;});
        }
    }
);
});
//--> 
</script>

<script type="text/javascript">
var isExtendsValidate = true;
function extendsValidate(){
	//checkbox 验证，必须选择一个checkbox
	if(jQuery("[name='checkbox']:checked").length < 1){
		alert("至少选择一条信息。");
		return false;
	}
}
</script>

<title>系统管理员</title>
</head>
<body>
<div id="body-wrapper">
  #parse("/WEB-INF/manager/menu.vm")
  <div id="main-content">
    <p>后台管理 - 会员和组 - 系统管理员</p>
    <ul class="shortcut-buttons-set">
      <li><a class="shortcut-button" href="manager_input.htm"><span><img alt="icon" src="images/pencil_48.png" /><br />
      新建管理账号 </span></a></li>
    </ul>
    <div class="clear"></div>
    <div class="content-box">
      <div class="content-box-header">
        <h3>系统管理员账号</h3>
        <div class="clear"></div>
      </div>
      <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">
          <form id="form1" name="form1" method="post" action="manager_del.action">
            <table width="100%" border="0" cellspacing="0" cellpadding="5">
              <tr>
                <td><input type="checkbox" name="checkall" id="checkall" title="全选/反选"></td>
                <td>状态</td>
                <td>账号</td>
                <td>名称</td>
                <td>Email</td>
                <td>昵称</td>
                <td>注册时间</td>
                <td>&nbsp;</td>
              </tr>
              #foreach( $item in $list )
              <tr>
                <td><input name="checkbox" type="checkbox" id="checkbox" value="$!{item.id}" /></td>
                <td>#if( $item.status=='normal' )正常#else其他#end</td>
                <td><a href="manager_edit.htm?mgid=$!{item.id}">$!{item.account}</a></td>
                <td>$!{item.name}</td>
                <td>$!{item.email}</td>
                <td>$!{item.nickname}</td>
                <td>$!{item.ctime}</td>
                <td><a href="pms_manager.htm?mgid=$!{item.id}">权限设置</a></td>
              </tr>
              #end
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><input type="submit" name="button" id="button" value="删除" /></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table>
          </form>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    #include("/WEB-INF/manager/footer.vm")
  </div>
</div>
</body>
</html>
