<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="styles/global-reset.css" rel="stylesheet" type="text/css" />
<link type="text/css" href="styles/style.css" rel="stylesheet" />
<link href="styles/validate.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="scripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="scripts/simpla.jquery.configuration.js"></script>
<script type="text/javascript" src="scripts/easy_validator.pack.js"></script>
<script type="text/javascript" src="scripts/jquery.bgiframe.min.js"></script>

<script type="text/javascript"> 
<!-- 
jQuery(document).ready(function() {
jQuery("#checkall").click(
    function(){
		if(this.checked){
            jQuery("input[name='checkbox']").each(function(){this.checked=true;});
        }else{
            jQuery("input[name='checkbox']").each(function(){this.checked=false;});
        }
    }
);
});
//--> 
</script>

<script type="text/javascript">
var isExtendsValidate = true;
function extendsValidate(){
	//checkbox 验证，必须选择一个checkbox
	if(jQuery("[name='checkbox']:checked").length < 1){
		alert("至少选择一条信息。");
		return false;
	}
}
</script>

<title>订单</title>
</head>
<body>
<div id="body-wrapper">
  #parse("/WEB-INF/manager/menu.vm")
  <div id="main-content">
    <p>后台管理 - 订单</p>
    <ul class="shortcut-buttons-set">
      <li><a class="shortcut-button" href="#"><span><img alt="icon" src="images/pencil_48.png" /><br />
      新建订单 </span></a></li>
    </ul>
    <div class="clear"></div>
    <div class="content-box">
      <div class="content-box-header">
        <h3>订单列表</h3>
        <div class="clear"></div>
      </div>
      <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">
          <form id="form1" name="form1" method="post" action="order_del.htm">
            <table width="100%" border="0" cellspacing="0" cellpadding="5">
              <tr>
                <td><input type="checkbox" name="checkall" id="checkall" title="全选/反选"></td>
                <td>编辑</td>
                <td>订单号</td>
                <td>状态</td>
                <td>下单会员</td>
                <td>时间</td>
                <td>收货人</td>
                <td>配送费用</td>
                <td>收货地址</td>
              </tr>
              #foreach( $item in $ps.getItems() )
              <tr>
                <td><input name="checkbox" type="checkbox" id="checkbox" value="$!{item.id}"></td>
                <td>#if( $item.status == "TRADE_FINISHED" )交易成功#else<a href="order_edit.htm?oid=$!{item.id}">编辑</a>#end</td>
                <td><a href="orderitems.htm?oid=$!{item.id}">$!{item.code}</a></td>
                <td>$!{item.status_brief}#if( $item.status=="WAIT_SELLER_SEND_GOODS" )<a href="order_send_goods.htm?oid=$!{item.id}">设置已发货</a>#end</td>
                <td>$!{item.memberr.name}</td>
                <td>$!{item.ctime}</td>
                <td>$!{item.addresss.name}</td>
                <td>$!{item.logicost}</td>
                <td>$!{item.addresss.address}</td>
              </tr>
              #end
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><input type="submit" name="button" id="button" value=" 删 除 "></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table>
          </form>
          <div class="pagination">
<a href="?c=$!{c}&amp;keyword=$!{keyword}&amp;page=1&amp;od=$!{od}&amp;sc=$!{sc}" title="首页">首页</a>
<a href="?c=$!{c}&amp;keyword=$!{keyword}&amp;page=$ps.getPreviousTenPage()&amp;od=$!{od}&amp;sc=$!{sc}" title="前10页">前10页</a>
<a href="?c=$!{c}&amp;keyword=$!{keyword}&amp;page=$ps.getPreviousPage()&amp;od=$!{od}&amp;sc=$!{sc}" title="上一页">上一页</a>
#foreach( $infoitem in $ps.getPages() )
<a class="number" title="第$!{infoitem}页" href="?c=$!{c}&amp;keyword=$!{keyword}&amp;page=$!{infoitem}&amp;od=$!{od}&amp;sc=$!{sc}">&nbsp;$!{infoitem}&nbsp;</a>
#end
<a href="?c=$!{c}&amp;keyword=$!{keyword}&amp;page=$ps.getNextPage()&amp;od=$!{od}&amp;sc=$!{sc}" title="下一页">下一页</a>
<a href="?c=$!{c}&amp;keyword=$!{keyword}&amp;page=$ps.getNextTenPage()&amp;od=$!{od}&amp;sc=$!{sc}" title="后10页">后10页</a>
<a href="?c=$!{c}&amp;keyword=$!{keyword}&amp;page=$ps.getPageCount()&amp;od=$!{od}&amp;sc=$!{sc}" title="最后页">最后页</a>
<span>&nbsp;共&nbsp;
                $ps.getTotalCount()
                &nbsp;条信息，
                $ps.pageCount
                页</span>
</div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    #include("/WEB-INF/manager/footer.vm")
  </div>
</div>
</body>
</html>
