 <div  style="height:100px; text-align:center; width:787px; padding-top:10px;">
 	©Copyright 2015-2020 <a href="http://www.beautyfamily.com" target="_blank">www.beautyfamily.com</a> | Powered by <a href="http://www.beautyfamily.com" target="_blank">beautyfamily</a>
 	</div>