<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>beautyfamily-在线商城</title>
<link href="styles/global-reset.css" rel="stylesheet" type="text/css" />
<link href="styles/global.css" rel="stylesheet" type="text/css" />
<link href="styles/login.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="Box-top">
  #include("/WEB-INF/publicer/zh_CN_box-top-nav.vm")
  #parse("/WEB-INF/publicer/zh_CN_box-top-logo.vm")
  <!------------------------nav------------------------>
  #include("/WEB-INF/publicer/zh_CN_box-nav.vm")
  #parse("/WEB-INF/publicer/zh_CN_box-menu-left.vm")
  #parse("/WEB-INF/publicer/zh_CN_mycart.vm")
  <div class="clear"></div>
</div>
<div class="Box-banner"><img src="images/Home-box_15.jpg" width="980" height="60" /></div>
<!------------------------内容------------------------>
<div id="Login">
  <h6>找回密码</h6>
  <p>如果您已经是本站会员，请登录</p> 
  <div class="login">
  <div class="login-red"></div>
  <div id="xx">您可以重置密码，请查看您的邮箱。</div>
  </div>
</div>
<!------------------------底部------------------------>
<div id="Box-bottom">
  <div class="Box-bottom-menu">
    #foreach( $doccate in $map.get("G_A") )
    <dl>
      <dt><strong>$!{doccate.name}</strong></dt>
      #foreach( $document in $doccate.documents )
      <dd><a href="channel.htm?c=help&amp;t=v&amp;d=$!{document.id}">$!{document.title}</a></dd>
      #end
    </dl>
    #end
    #include("/WEB-INF/publicer/zh_CN_contacts.vm")
    <div class="clear"></div>
  </div>
  #include("/WEB-INF/publicer/zh_CN_services.vm")
  #include("/WEB-INF/publicer/zh_CN_sitelinks.vm")
  #include("/WEB-INF/publicer/zh_CN_sitefooter.vm")
  <div class="clear"></div>
</div>
</body>
</html>
